node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
*.zip
*.log
.env
.npm-cache
github_pat_*
*.traineddata
attached_assets/*.pdf
attached_assets/*.PDF
attached_assets/*.txt
attached_assets/image_*